@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
    margin: 0;
    padding: 0;
}

.fundo {
   background-image: linear-gradient(45deg, black, rgb(6, 6, 157) );
   height: 100vh;
   
}

.name {
    font-family: 'Lobster', cursive;
    color: white;
    font-size: 45px;
    text-align: center;
    padding: 80px;
}

.calc {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(35deg, rgba(255, 255, 255, 0.153), rgb(255, 255, 255));
    padding: 13px;
    border-radius: 12px;
    padding-bottom: 25px;
    box-shadow: 5px 5px 8px rgb(0, 0, 0, 0.336);
}

.button {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    margin: 2px;
    background-color:rgba(255, 255, 255, 0.701);
    cursor: pointer;
    border: none;
}

.button:hover {
    transform: scale(1.07);
    background-color: rgba(43, 38, 91, 0.795);
    color: white;
}

#delet {
    width: 105px;
}

#resolved {
    width: 105px;
    background-color: greenyellow;
}

#display {
    padding-top: 25px;
    font-size: 30px;
    text-align: right;
}

.fundodisplay {
    margin-bottom: 20px;
    width: 217px;
    height: 95px;
    margin: 4px;
    margin-top: 6px;
    margin-bottom: 15px;
    border-radius: 8px;
}